# Dependencies
node_modules/
**/node_modules/

# Production / Build outputs
dist/
dist-ssr/
build/
**/dist/

# Env config files
.env
.env.local
.env.*.local
.env.development
.env.production
.env.staging
**/backend/.env

# System Files
.DS_Store
Thumbs.db
*.log
